{
    "tabWidth": 4,
    "useTabs": false,
    "plugins": ["prettier-plugin-ejs"],
    "semi": true,
    "printWidth": 150,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "trailingComma": "es5",
    "overrides": [
        {
            "files": ["tsconfig.json", "*.jsonc"],
            "options": {
                "trailingComma": "none"
            }
        }
    ]
}
